{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">
    <link rel='main icon' href='../img/favicon.ico'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    {{template "header" .}}
    <content>
        {{template "content" .}}
    </content>
    {{template "footer" .}}
    </div>
</body>

</html>
{{end}}