{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel='main icon' href='/static/img/favicon.ico'>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{template "header" .}}
    {{block "sidebar" .}}
    <div class="sidenav">
    </div>
    {{end}}
    <content>
        {{template "content" .}}
    </content>
    {{template "footer" .}}
    </div>
</body>

</html>
{{end}}