{{template "base" .}}
{{define "header"}}
<header>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/">
                <div class="logo">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><img width="30" src="/static/img/logo1.png" alt="logo"></li>
                        <li class="pure-menu-item">Sharpov's site</li>
                    </ul>
                </div>
            </a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/auth" class="pure-menu-link">/auth</a></li>
                <li class="pure-menu-item"><a href="/users" class="pure-menu-link">/users</a></li>
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Sign Up</a></li>
            </ul>
        </div>
    </div>
</header>
{{end}}