{{template "base" .}}

{{define "title"}}Пользователи{{end}}

{{define "content"}}
<div class="splash-container">
    <div class="splash">
        <p class="splash-subhead">
            <table class="pure-table pure-table-bordered">
                <thead>
                    <th>Id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>City</th>
                </thead>
                {{range . }}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Firstname}}</td>
                    <td>{{.Lastname}}</td>
                    <td>{{.City}}</td>
                </tr>
                {{end}}
            </table>
        </p>
    </div>
</div>

{{end}}