<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ввод данных</title>
    </head>
    <body>
        <h2>Ввод данных</h2>
        <form method="POST" action="postform">
            <label>Имя</label><br>
            <input type="text" name="firstname" /><br><br>
            <label>Фамилия</label><br>
            <input type="text" name="lastname" /><br><br>
            <label>Город</label><br>
            <input type="text" name="city" /><br><br>
            <input type="submit" value="Отправить" />
        </form>
    </body>
</html>